# Domain at which the website will be accessible once hosted (no trailing slash).
BASE_DOMAIN=https://mineros.dev

# Analytics setup (no trailing slash for UMAMI_HOST).
UMAMI_WEBSITE_ID=106d0019-0739-4be8-8e4e-1f8e2da1e350
UMAMI_HOST=https://umami.yourdomain.com
