{
  "useTabs": false,
  "tabWidth": 2,
  "endOfLine": "lf",
  "singleQuote": false,
  "trailingComma": "none",
  "semi": true,
  "arrowParens": "avoid",
  "printWidth": 80,
  "plugins": [
    "prettier-plugin-astro",
    "prettier-plugin-tailwindcss",
    "prettier-plugin-organize-imports"
  ],
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    }
  ]
}
